{% extends "layout.html" %}

{% block header_append %}
<style>
  .tree {
    border: darkgray 1px solid;
    font-size: small;
  }
  .tree-root {
    padding-top: 4px;
    font-weight: bold;
  }
  .root-cluster {
    background-color: #fff2cd;
  }
  .root-has-nodes {
    background-color: #e9ffcd;
  }
  .root-no-nodes {
    background-color: #ececec;
  }
  .tree-nodes {
    border-bottom: darkgray 1px solid;
  }

  @media (max-width: 768px) {
    .sm-align-right {
      text-align: right;
    }
  }

</style>
{% endblock %}

{% include "header.html" %}

{% block content %}
<div class="container body-content py-3">
  <h2>感染者ツリー</h2>

  <div class="container mt-4">
    <div class="row">
      <div class="col tree" id="tree">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="offset-sm-3 col-sm-6">
        <div class="card">
          <ul class="list-group">
            <li class="list-group-item"><a href="/persons"><i class="fa fa-caret-right pr-2"></i>感染者リスト</a></li>
            <li class="list-group-item"><a href="/tree"><i class="fa fa-caret-right pr-2"></i>感染者ツリー</a></li>
            <li class="list-group-item"><a href="/clusters"><i class="fa fa-caret-right pr-2"></i>クラスター情報</a></li>
            <li class="list-group-item"><a href="/summary"><i class="fa fa-caret-right pr-2"></i>集計</a></li>
            <li class="list-group-item"><a href="/contact"><i class="fa fa-caret-right pr-2"></i>お問い合わせ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading image -->
  <div id="loading" class="loading"></div>

  <div class="display-none">

    <!-- Root Row Template -->
    <div id="templateRow" class="">
      <div class="row tree-root p-2" name="root.row">
        <div class="col-sm-5 col-8 px-0"><span name="root.name"></span> <span name="root.total"></span></div>
        <div class="col-sm-2 col-4 px-0"><span name="root.release_date"></span></div>
        <div class="col-sm-5 col-12 sm-align-right">
            <div class="d-flex flex-wrap justify-content-sm-start justify-content-end">
            <span name="root.reason"></span>
            <span name="root.cluster" class="text-danger"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col tree-nodes"></div>
      </div>
    </div>

    <!-- Node Row Template -->
    <div id="nodeTemplate" class="row node p-1">
      <div class="col-sm-5 col-8 px-0">
        <div class="d-flex flex-row">
          <div class="node-header pl-1"></div>
          <span name="person.name"></span>
          <span name="person.total"></span>
        </div>
      </div>
      <div class="col-sm-2 col-4 px-0"><span name="person.release_date"></span></div>
      <div class="col-sm-5 col-12">
        <div name="person.reason" class="d-flex flex-wrap justify-content-sm-start justify-content-end">
        </div>
      </div>
    </div>

  </div>

</div>

<script type="module">
import * as config from '/static/js/config.js'
import * as Person from '/static/js/Person.js'
import * as Cluster from '/static/js/Cluster.js'
import { Loader } from '/static/js/util.js'

/**
 * On Load
 */


const addNodeRows = (area, nodes) => {
  return nodes.map(node => {
    const row = $('#nodeTemplate').clone()
    const nodeHeader = row.find('.node-header')
    row.find('.node-header').html(
      [...Array(node.level)].map(i => {
        return $('<span class="pr-1">').text('-')
      })
    )
    row.find('[name="person.name"]').html(
      $('<a>').attr('href', `/persons/${node.no}`)
        .text(`[${node.no}] ${config.AGE[node.age]}${config.SEX[node.sex]} ${node.area}`)
    )
    row.find('[name="person.total"]').text(
      node.nodes ? `(${node.nodes.length})` : ''
    )
    row.find('[name="person.release_date"]').text(
      moment(node.release_date).format('YYYY年M月D日')
    )

    row.find('[name="person.reason"]').empty()
    if (node.reason == 'abroad') {
      row.find('[name="person.reason"]').append(
        $('<span class="pr-1">').text(`${node.route.country}`)
      )
    }
    row.find('[name="person.reason"]').append(() => {
      return node.contacts.slice(0, 1).map(c => {
        return $('<span class="pr-1">').text(
          `[${c.person_no}]${c.relationship || ''}${c.place ? '@' + c.place : ''}`
        )
      })
    })

    area.append(row)
    if (node.nodes) {
      addNodeRows(area, node.nodes)
    }
  })
}

const loader = new Loader($('#loading'))

Promise.resolve().then(() => {
  loader.start()

  return Promise.all([
    Person.getTree(),
    Cluster.find()
  ])
}).then(([trees, clusters]) => {
  for (const tree of trees) {
    const root = tree.root
    let cluster = null
    if (root.cluster_no) {
      cluster = clusters.find(c => c.no == root.cluster_no)
    }

    const row = $('#templateRow').clone()
    row.find('[name="root.name"]').html(
      $('<a>').attr('href', `/persons/${root.no}`)
        .text(`[${root.no}] ${config.AGE[root.age]}${config.SEX[root.sex]} ${root.area}`),
    )
    row.find('[name="root.total"]').html(
      $('<span>').text(tree.total > 0 ? `(${tree.total})` : ''),
    )
    row.find('[name="root.release_date"]').text(
      moment(root.release_date).format('YYYY年M月D日')
    )

    let text = ''
    switch(root.reason) {
      case 'contact':
        text += `${root.spot || root.case || '?'}`
        break
      case 'abroad':
        text += `${root.route.country || '?'}`
        break
      case 'other_area':
        text += `${root.route.area || '?'}`
        if (root.spot) text += `：${root.spot}`
        break
      case 'unknown':
        text += `感染元不明`
        break
      default:
        text += '?'
    }
    row.find('[name="root.reason"]').text(text)

    const rootRow = row.find('[name="root.row"]')
    rootRow.removeClass('root-no-nodes')
    if (cluster) {
      rootRow.addClass('root-cluster')
      row.find('[name="root.cluster"]').text(`【${cluster.name}】${cluster.description}`)
    } else if (tree.nodes) {
      rootRow.addClass('root-has-nodes')
    } else {
      rootRow.addClass('root-no-nodes')
    }

    const nodesArea = row.find('.tree-nodes')
    nodesArea.html(null)
    if (tree.nodes) {
      addNodeRows(nodesArea, tree.nodes)
    }

    $('#tree').append(row)
  }

  return true
}).then(() => {
  loader.stop()
}).catch(e => {
  loader.stop()
  console.log(e)
  alert('内部エラーが発生しました。申し訳ありません')
})
</script>

{% endblock %}
